{{define "header"}}
<link rel="stylesheet" href="/asset/staticstatics/css/bootstrap.min.css">
<link rel="stylesheet" href="/asset/staticstatics/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/asset/staticstatics/css/bootstrap-reboot.min.css">
<script src="/asset/staticstatics/js/jquery.min.js" rel="script"></script>
<script src="/asset/staticstatics/js/Popper.js" rel="script"></script>
<script rel="script" src="/asset/staticstatics/js/bootstrap.bundle.js"></script>
{{end}}